a {
    text-decoration: none;
    color: inherit;
}

/*main card*/
.card {
    transition: 0.2s ease-in-out;
}
.card:hover {
    transform: scale(1.03);
    cursor: pointer;
}
.card img {
    width: 100%;
    height: 12em;
    object-fit: cover;
}

.main_text{
    margin-top: 5em;
}

.cardgradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.sec2h2{
    text-align: left !important;
    line-height: 120%;
    color: #222222;
}

/*메뉴 카드 접기*/
/*.invisiblecard{*/
/*display: none;*/
/*}*/
/* 추가한 CSS 부분 */
/* 추가한 CSS 부분 */
#morebtn {
    transform: translateY(-650px); /* 초기에 위로 이동한 상태로 설정 */
    transition: transform 0.6s ease-in-out;
}

#morebtn.move-down {
    transform: translateY(0);
}

.invisiblecard {
    opacity: 0;
    transform: translateY(-20px); /* 초기에 위로 이동한 상태로 설정 */
    transition: opacity 0.3s ease-out, transform 0.2s ease-out;
}

.invisiblecard.removee {
    opacity: 1;
    transform: translateY(0);
}
/*nav*/
.navbar > ul {
    list-style: none;
}

.nav-link {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    text-align: center;
}

.nav-link:hover {
    box-sizing: border-box;
    position: relative;
    color: #0d6efd;
    cursor: pointer;
    border: none;
}

.navbar-brand {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #f4f4f4;
    padding: 0 16px;
}

#searchForm {
    margin-top : 10rem;
}

.top-header {
    height: 30rem;
    background: linear-gradient(to bottom left, #77c4e3, #8176b5);
    background-size: cover;
    background-position: center;
}

.navbar {
    justify-content: space-between;
}

.navbar-collapse {
    padding: 20px;
}

.nav-right {
    margin-left: auto;
}

.text-white {
    font-family: 'Noto Sans KR', sans-serif;
}

.navbar-nav {
    justify-content: space-between;
    width: 100%;
}

@media (min-width : 300px) {
    .navbar-collapse {
        flex-basis: 0;
    }
}

/*커뮤니티 게시판 list */
.card-text, .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.card-footer .text-muted {
    display: block;
}